doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='shortcut icon', href='/assets/images/drawing2-51x51-61.png', type='image/x-icon')
    meta(name='description', content='Buy books from your fellowmates on campus')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:700,400&subset=cyrillic,latin,greek,vietnamese')
    link(rel='stylesheet', href='/assets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/assets/animate.css/animate.min.css')
    link(rel='stylesheet', href='/assets/mobirise/css/style.css')
    link(rel='stylesheet', href='/assets/mobirise-slider/style.css')
    link(rel='stylesheet', href='/assets/mobirise/css/mbr-additional.css', type='text/css')
  body
    section.engine
      a(rel='nofollow', href='/') Booksterdam
    section#menu-0.mbr-navbar.mbr-navbar--freeze.mbr-navbar--absolute.mbr-navbar--transparent.mbr-navbar--sticky.mbr-navbar--auto-collapse
      .mbr-navbar__section.mbr-section
        .mbr-section__container.container
          .mbr-navbar__container
            .mbr-navbar__column.mbr-navbar__column--s.mbr-navbar__brand
              span.mbr-navbar__brand-link.mbr-brand.mbr-brand--inline
                span.mbr-brand__logo
                  a(href='/')
                    img.mbr-navbar__brand-img.mbr-brand__img(src='/assets/images/drawing2-51x51-61.png', alt='SS', title='Buy books from your fellowmates on campus')
                span.mbr-brand__name
                  a.mbr-brand__name.text-white(href='/') Booksterdam
            .mbr-navbar__hamburger.mbr-hamburger.text-white
              span.mbr-hamburger__line
            .mbr-navbar__column.mbr-navbar__menu
              nav.mbr-navbar__menu-box.mbr-navbar__menu-box--inline-right
                .mbr-navbar__column
                  ul.mbr-navbar__items.mbr-navbar__items--right.mbr-buttons.mbr-buttons--freeze.mbr-buttons--right.btn-decorator.mbr-buttons--active
                    li.mbr-navbar__item
                      a.mbr-buttons__link.btn.text-white(href='/')
                    li.mbr-navbar__item
                      a.mbr-buttons__link.btn.text-white(href='/')
                    li.mbr-navbar__item
                      a.mbr-buttons__link.btn.text-white(href='/')
                    li.mbr-navbar__item
                      a.mbr-buttons__link.btn.text-white(href='/')
                    li.mbr-navbar__item
                      a.mbr-buttons__link.btn.text-white(href='/')
                        br
                        br
                .mbr-navbar__column
                  ul.mbr-navbar__items.mbr-navbar__items--right.mbr-buttons.mbr-buttons--freeze.mbr-buttons--right.btn-inverse.mbr-buttons--active
                    li.mbr-navbar__item
                      a.mbr-buttons__btn.btn.btn-primary(href='index.html#header2-7') HOW IT WORKS
                    li.mbr-navbar__item
                      a.mbr-buttons__btn.btn.btn-info(href='/signup') SIGN UP
                    li.mbr-navbar__item
                      a.mbr-buttons__btn.btn.btn-success(href='/index') LOG IN

    section#slider-4.mbr-slider.mbr-section.mbr-section--no-padding.carousel.slide(data-ride='carousel', data-wrap='true', data-interval='5000', style='background-color: rgb(255, 255, 255);')
      .mbr-section__container
        div
          ol.carousel-indicators
            li.active(data-app-prevent-settings='', data-target='#slider-4', data-slide-to='0')
            li(data-app-prevent-settings='', data-target='#slider-4', data-slide-to='1')
            li(data-app-prevent-settings='', data-target='#slider-4', data-slide-to='2')
            li(data-app-prevent-settings='', data-target='#slider-4', data-slide-to='3')
          .carousel-inner(role='listbox')
            .mbr-box.mbr-section.mbr-section--relative.mbr-section--fixed-size.mbr-section--bg-adapted.item.dark.center.mbr-section--full-height.active(style='background-image: url(https://images5.alphacoders.com/389/thumb-1920-389874.jpg);')
              .mbr-box__magnet.mbr-box__magnet--sm-padding.mbr-after-navbar
                .container
                  .row
                    .col-sm-8.col-sm-offset-2
                      .mbr-hero
                        h1.mbr-hero__text Booksterdam
                        p.mbr-hero__subtext
                          | Spend your Benjamins on your summer trip to Amsterdam.
                          br
                          | Buy books from your fellowmates on campus
                          br
                      .mbr-buttons.btn-inverse.mbr-buttons--center
                        a.mbr-buttons__btn.btn.btn-lg.btn-success(href='/index') BUY
                        a.mbr-buttons__btn.btn.btn-lg.btn-info(href='/index') SELL
            .mbr-box.mbr-section.mbr-section--relative.mbr-section--fixed-size.mbr-section--bg-adapted.item.dark.center.mbr-section--full-height(style='background-image: url(http://duckofminerva.com/wp-content/uploads/2016/04/unnamed.jpg);')
              .mbr-box__magnet.mbr-box__magnet--sm-padding.mbr-after-navbar
                .container
                  .row
                    .col-sm-8.col-sm-offset-2
                      .mbr-hero
                        h1.mbr-hero__text Imagine
                        p.mbr-hero__subtext
                          | Graduating out of college without spending a penny on books.
                          br
                          | How does that sound?
                          br
                      .mbr-buttons.btn-inverse.mbr-buttons--center
                        a.mbr-buttons__btn.btn.btn-lg.btn-primary(href='/index') BUY
                        a.mbr-buttons__btn.btn.btn-lg.btn-info(href='/index') SELL
            .mbr-box.mbr-section.mbr-section--relative.mbr-section--fixed-size.mbr-section--bg-adapted.item.dark.center.mbr-section--full-height(style='background-image: url(/assets/images/typewriter-801921-1920-1920x1280-16.jpg);')
              .mbr-box__magnet.mbr-box__magnet--sm-padding.mbr-after-navbar
                .container
                  .row
                    .col-sm-8.col-sm-offset-2
                      .mbr-hero
                        h1.mbr-hero__text Admit it. Books are Great.
                        p.mbr-hero__subtext We will admit that we are huge Game of Thrones fans..
                      .mbr-buttons.btn-inverse.mbr-buttons--center
                        a.mbr-buttons__btn.btn.btn-lg.btn-default(href='/signup') Join the community today!
            .mbr-box.mbr-section.mbr-section--relative.mbr-section--fixed-size.mbr-section--bg-adapted.item.dark.center.mbr-section--full-height(style='background-image: url(http://i.huffpost.com/gen/1929249/images/o-TEEN-GIRL-READING-BOOK-facebook.jpg);')
              .mbr-box__magnet.mbr-box__magnet--sm-padding.mbr-after-navbar
                .container
                  .row
                    .col-sm-8.col-sm-offset-2
                      .mbr-hero
                        h1.mbr-hero__text Booksterdam
                        p.mbr-hero__subtext
                          | When you add up all those Benjamins you lose on Shipping, Comission and Gas, this is like choosing between Game of Thrones and the GOP Debate for your Saturday night family time.
                      .mbr-buttons.btn-inverse.mbr-buttons--center
                        a.mbr-buttons__btn.btn.btn-lg.btn-default(href='/signup') And it's FREE!
            
        a.left.carousel-control(data-app-prevent-settings='', role='button', data-slide='prev', href='#slider-4')
          span.glyphicon.glyphicon-menu-left(aria-hidden='true')
          span.sr-only Previous
        a.right.carousel-control(data-app-prevent-settings='', role='button', data-slide='next', href='#slider-4')
          span.glyphicon.glyphicon-menu-right(aria-hidden='true')
          span.sr-only Next
    // How it works
    section#header2-7.mbr-box.mbr-section.mbr-section--relative.mbr-section--fixed-size.mbr-section--full-height.mbr-section--bg-adapted(style='background-image: url(http://wallpapercave.com/wp/I9G3bWL.jpg);')
      .mbr-box__magnet.mbr-box__magnet--sm-padding.mbr-box__magnet--center-left
        .mbr-overlay(style='opacity: 0.2; background-color: rgb(34, 34, 34);')
        .mbr-box__container.mbr-section__container.container
          .mbr-box.mbr-box--stretched
            .mbr-box__magnet.mbr-box__magnet--center-left
              .row
                .col-sm-6.col-sm-offset-6
                  .mbr-hero.animated.fadeInUp
                    h1.mbr-hero__text Meet Ashley
                    p.mbr-hero__subtext
                    p
                      strong Ashley
                      |  buys her Biology course book for $100, keeps the book in mint condition throughout the semester, then sells it on Amazon for $30 (before shipping & Amazon Service charges) or at the campus bookstore for $15 (after waiting in line for an hour). By the time she graduates, 
                      strong Ashley
                      |  loses $3,500 in books alone.
                      br
                      br
                      | Don't Be 
                      strong Ashley
                      | .
                      br
                      br
                      | Through 
                      strong Booksterdam
                      | ,
                      br
                      | Buy the course book you need from peers who just graduated that course! 
                      br
                      | When you are done, sell the book to the incoming class!
                      br
                      br
                      | No shipping charges.
                      br
                      | No lengthy wait time.
                      br
                      | No Commissions.
                      br
                      | Easyy- Breezy!
                      br
                    p
                  .mbr-buttons.btn-inverse.mbr-buttons--left
                    a.mbr-buttons__btn.btn.btn-lg.animated.fadeInUp.delay.btn-default(href='http://www.viveckh.com') MEET VIVECKH - THE FOUNDER
    // Footer
    footer#footer1-6.mbr-section.mbr-section--relative.mbr-section--fixed-size(style='background-color: rgb(0, 0, 0);')
      .mbr-section__container.container
        .mbr-footer.mbr-footer--wysiwyg.row
          .col-sm-12
            p.mbr-footer__copyright
              | Copyright (c) 2017 Booksterdam. 
              a.mbr-footer__link.text-white(href='/') Terms of Use
              |   | All Rights Reserved.
    script(src='/assets/web//assets/jquery/jquery.min.js')
    script(src='/assets/bootstrap/js/bootstrap.min.js')
    script(src='/assets/smooth-scroll/SmoothScroll.js')
    script(src='/assets/bootstrap-carousel-swipe/bootstrap-carousel-swipe.js')
    script(src='/assets/jarallax/jarallax.js')
    script(src='/assets/mobirise/js/script.js')