doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    
    meta(name='description', content='Find used books on campus')
    meta(name='author', content='Vivek Pandey')
    link(rel='icon', href='')
    title Booksterdam

    // BOOTSTRAP INCLUSIONS
    // Latest compiled and minified CSS
    link(rel='stylesheet', href='/bootstrap-3.3.7-dist/css/bootstrap.min.css')
    // Optional theme
    link(rel='stylesheet', href='/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css')

    // IE10 viewport hack for Surface/desktop Windows 8 bug
    link(href='/stylesheets/ie10-viewport-bug-workaround.css', rel='stylesheet')
    script(src='/javascripts/ie-emulation-modes-warning.js')

    // FONT INCLUSIONS
    link(href='https://fonts.googleapis.com/css?family=Quantico', rel='stylesheet')

    // CUSTOMIZED STYLESHEETS
    link(rel='stylesheet', href='/stylesheets/jumbotron.css')
    link(rel='stylesheet', href='/stylesheets/grid.css')
    //link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/basicCustomizations.css')

    //Include jQuery for supporting Bootstrap's features
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    //matchHeight plugin to produce even sized columns
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js')

    //CUSTOMIZED JAVASCRIPTS
    script(src='/javascripts/viewManager.js')
  body
    block content
