
form.navbar-form.navbar-right#loginForm
    .form-group
        input.form-control#loginEmail(name='loginEmail', type='email', placeholder='Email', required)
    .form-group
        input.form-control#loginPassword(name='loginPassword', type='password', placeholder='Password', required)
    button.btn.btn-success#loginSubmit(type='submit') Sign in
    #custom-signupBtn.button.btn.btn-success(type='button') Sign up
    // /.navbar-collapse