extends layout

block content
    h1  Retrieving CustomerRecords...
    h3  These sellers were found in the Booksterdam database
    table#table_Customers
        tr
            th RecordID
            th Last Name
            th First Name
            th Zip Code
        each person in info
            tr
                td #{person.customerID}
                td #{person.lastName}
                td #{person.firstName}
                td #{person.zipCode}