/*To compensate for the extra padding done in jumbotron.css*/
body {
    padding-top: 20px;
    font-family: 'Quantico', sans-serif;
}

#custom-navBar {
    background-color: #2B2B2B;
    font-family: 'Quantico', sans-serif;
}

/* Search bar modifcations in this section*/
.page-header {
    background-color: #FDF3E7;
}

.custom-searchBar {
    width: 60%;
    margin: 0 auto; /* Center the searchbar*/
}

#custom-searchBarText, #custom-searchBarIcon {
    height: 3em;
}

.glyphicon-search {
    background-color: red;
}

/* Book listing view - grids, thumbnails, captions, etc*/
#custom-itemGrid {
    border: 1px;
    background-color: #FDF3E7;
}

.thumbnail {
    background-color: #ECECEA;
}

.thumbnail .custom-thumbnail-image {
    height: 15em;
}


/*Section to add image overlay hovers STARTS HERE*/
.custom-shelf-item {
    display: block;
}

.custom-overlay-div {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: blue;
    background-image: url('http://40.media.tumblr.com/tumblr_lfwaq6f5XK1qa1e2io1_500.jpg');
    filter:brightness(70%);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.custom-shelf-item:hover .custom-overlay-div {
    height: 100%;
}

.custom-overlay-text {
    color: white;
    font-size: 1.5em;
    position: absolute;
    overflow: hidden;
    opacity: 0.9;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.custom-overlay-btn {
    white-space: nowrap;
    color: red;
    font-size: 2em;
    position: absolute;
    width: 100%;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/*Error appearance*/
.error {
    color: red;
}

/*Section for image overlay hovers ENDS HERE*/


footer {
    background-color: #ECECEA;
}